body {
    background-image:url( 'background.png' );
    background-repeat : no-repeat;
    background-color : antiquewhite;
    background-size : cover
}

a{
    color : blueviolet
}
a:hover{ 
    color:#F00
}
body{
    background-color : antiquewhite
}
.warp{
    overflow : hidden;
    border-radius : 20px 10px 20px 10px;
    border: style;
}

#blockk {
    height: 50px;
    width: 50px;
    color: red;
}

th{
    background-color : black;
    color : aliceblue;
    text-align:left;
    padding : 10px;
}

td{
    background-color : white;
    color : black;
    text-align:left;
    padding : 10px;
    margin : 10px;
    width : 50px;
   }

#image2 {
    display: none;
}
#caption2 {
    display: none;
}
#table2
{
    display: none;
}
